
#section-container {
    
    display: flex;
    margin: 0 20%;    
    background-color:white;
    text-align:center;

}

#logo {
width:20%;
float:left;
margin: 0 5% 0 0;


}

#Story_Text {
display:inline-block;
padding: 30px;
font-size 80em;
margin:5% 5% 0 0;
}

#story_text h3 {
font-weight: bold;


}