#watch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/Images/bgk-middle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    min-width: 460px ;
}

#watch-section p{
width: 460px;
height: 18px;
font-size: 16px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 900;
font-family: "Roboto";
text-align: center;
}

  
#section-container {
  display: flex;
  justify-content: center;
    width:60%;
  margin:5% 0 ;
  background-color:white;
  min-width:100%;
      
}

#logo {
margin: 2% 10% 0 0;
width:230px;
height:230px;
}

#Story_Text {
display:inline-block;
height:80%;
font-family:
font-size 80;
font-weight:1200;
margin:0px;
overflow: auto ;
}

#story_text h2 {
font-weight: bold;
}

.button {
    background-color: white;
    border: 1px solid rgb(24, 185, 177);
    color: rgb(24, 185, 177);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0px 0 0;
    cursor: pointer;
  }
s


  #team-section {
    background-color: #09052f;


  }

  #teamcontainer {
    display:flex;
    justify-content: center;
    color:white;
    background-color: #09052f;
    margin:0 20%;
    padding:20%;

  }


* {
    box-sizing: border-box;
    text-align: left;
}
body {
    margin: 0px;
    width: 100%;
    height: 390px;
}
.footer {
    background-image: url(images-nizami/bgk-footer.png);
    background-size: cover;
    width: 100%;
    height: 390px;
}

.container {
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    padding: 65px 0px;
    height: 390px;
    display: flex;
}

.tajamBlock,
.ourStuidoBlock,
.stayInTouch {
    width: 30%;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tajamBlock .tajamHeader {
    display: flex;
}

.tajamBlock p {
width: 299px;
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
font-weight: 300;
font-family: "Roboto";
}

.tajamBlock h3 {
    font-size: 30px;
color: #ffffff;
font-weight: 250;
padding-left: 10px;
margin-top: 0px;
font-family: "Roboto";
text-align: center;
background-color: linear-gradient(90deg, #00e0d0 0%, #4aa3cc 100%);
}

.help {
    width: 459px;
height: 13px;
display: flex;
}

.help a {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    padding-right: 10px;
}

.help a::before {
    color: #ffffff;
}

.help a:hover {
    background-color: yellow;
    border-radius: 5px;
    padding: 15px;
    color: black;
}

.tajamBlock img {
    height: 50px;
}

p.adress {
height: 80px;
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
margin: 0px;
font-family: "Roboto";
padding-left: 5px;
}


.ourStuidoBlock h3,
.stayInTouch h3 {
font-size: 15px;
letter-spacing: 1px;
line-height: 26px;
color: #ffffff;
font-weight: 900;
font-family: "Roboto";
height: 89px;
margin: 0px;
}

.ourStuidoBlock img {
    height: 19px;
}

.ourStudioHeader, 
.ourStudioFooter {
    display: flex;
    height: 70px;
}

.callMe {
    width: 271px;
height: 23px;
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
font-weight: 300;
font-family: "Roboto";
margin: 0px;
padding-left: 5px;
}

.stayInTouch input {
    width: 221px;
    color: white;
    height: 45px;
    background-color: #09052f;
    border: 1px solid #ffffff;
    opacity: 0.1;
    font-size: 14px;
    padding-left: 20px;
letter-spacing: 1px;
line-height: 26px;
margin: 0px;
}

.stayInTouchInput {
    display: flex;
    height: 45px;
}

.stayInTouchIcons {
    padding-top: 20px;
}

.copyright {
    width: 459px;
height: 13px;
font-size: 14px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
text-align: right;
}

