#watch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/Images/bgk-middle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    min-width: 460px ;
}

#watch-section p{
width: 460px;
height: 18px;
font-size: 16px;
letter-spacing: 1px;
color: #ffffff;
font-weight: 900;
font-family: "Roboto";
text-align: center;
}


#our_story_section {
}



#section-container {
  display: flex;
  justify-content: center;
    width:60%;
  margin:5% 0 ;
  background-color:white;
  min-width:100%;
      
}

#logo {
margin: 2% 10% 0 0;
width:230px;
height:230px;
}

#Story_Text {
display:inline-block;
height:80%;
font-family:
font-size 80;
font-weight:1200;
margin:0px;
overflow: auto ;
}

#story_text h3 {
font-weight: bold;
}

.button {
    background-color: white;
    border: 1px solid rgb(24, 185, 177);
    color: rgb(24, 185, 177);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    margin: 20px 0px 0 0;
    cursor: pointer;
  }
